body{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.logo{
    width: 11vh;
    height: 11vh;
    
}
#add_book{
    position: fixed;
    top: 90vh;
    left: 90vw;
}

.book_info{
    border: 1px solid black;
    background-color: bisque;
    color: rgb(101, 41, 157);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    animation-name: fr ;
    animation-duration: 6s;
}

.uppertext{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    
}
.uppermost_label{
    display: grid;
    grid-template-columns: 2fr 9fr;
    font-size: 1.4rem;


}
.book_stack{
    margin-top: 2.7vh;
    justify-self: end;
    margin-right: 1vw;
    margin-left: 1.3vw;
}
.side_box{
    justify-self: end;
    margin-right: 5vw;
    border: 1px solid black;
    padding: 2vh 2vw 0vh 2vw;
    font-size: 1.2rem;
    display: grid;
    height: 60%;
    border-radius: 10px;
    margin-top: 4vh;
    background-color: rgb(210, 240, 230);
    opacity: 0.8;

    
    grid-template-rows: 1fr 6fr;

}
.heading_part{
   
    font-size: 1.3rem;
    
}
.textOf_heading_part{
    align-self: center;
    justify-self: center;
    margin-bottom: 1vh;

}
.stats{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.stat{
    justify-self: center;
}


.book_storage{
    background-color: rgb(234, 239, 239);
    width: 100%;
}
.add_book{
    border-radius: 50%;
    height: 5vh;
    width: 90vh;
}

/* 
form css styling


*/ 

.get_book_info_form{
    
    border: 1px solid black;
    text-align: center;
    display: grid;
    position: fixed;
    top: 40vh;
    left: 37vw;
    padding: 5vh;
    padding-top: 0;
    background-color: rgb(202, 224, 243);
    grid-template-rows: 1fr 4.7fr;

}
.upperMostLabel{
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
}
.text{
    font-size: 1.6rem;
    background-color: rgb(63, 93, 120);
    margin-top: 2vh;
}
.cross_icon{
    background-color: blue;
}
.form1{
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
}
label{
    margin-right: 2vw;

}
.form1>*{
    
}
.inputDiv{
    margin-bottom: 4vh;
    
    
}