body{
    margin: 0;
    padding: 0;
}

.logo{
    width: 6vh;
    height: 6vh;
    
}
#add_book{
    position: fixed;
    top: 90vh;
    left: 90vw;
}
.get_book_info_form{
    border: 1px dotted black;
    text-align: center;
   
}
.book_info{
    border: 1px solid black;
    background-color: bisque;
    color: rgb(101, 41, 157);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    animation-name: fr ;
    animation-duration: 6s;
}

@keyframes fr {
    from{
        display: none;
    }
    to{
        display: inline-block;
    }
}
